@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --text-color: whitesmoke;
    --background: #1D212B;
    --hoover: rgb(233, 98, 120);
    --shad: whitesmoke;
}
*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

body, html{
    background-image: url(images/RenifinalPortfoliopic.png);
    background-repeat: no-repeat no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    width: 100%;
    box-shadow: inset 500px 400px 5000px rgba(0, 0, 0, 0.4), inset -100px -150px 5000px rgba(0, 0, 0, 1);
    background-color: var(--background);
    position: relative;
    scroll-behavior: smooth;
    z-index: 1;

}

header{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    
       
}
header .port{
    font-size: 2rem;

}
header .port > span{
    color: var(--hoover);
}

header .links{
    display: flex;
    justify-content: center;
}
header .links .wrapper-links > a{
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    position: relative; 
    z-index: 1;
    
    
}

header .links .wrapper-links > a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 5px;
    background-color: var(--hoover);
    transition: all 0.74s ease-in-out;
    z-index: -1;
    
    
}

header .links .wrapper-links a:hover::after{
    width: 100%;   
}

/*home section*/
.home{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    margin-top: 50px;
    overflow: hidden;
    
}
.home .content{
    padding-top: 30vh;
    
}
.home .content h3{
    margin-bottom: 10px;
}

.home .content h1 > span{
    color: var(--hoover);
    font-size: 2rem;
}

.home .content h2{
   margin-top: 10px;
   font-size: 3rem;
}
.home .content #home-content{
    margin-top: 15px;
    text-align: justify;
}

/*buttons*/
.butt-cont button{
    outline: none;
    background-color: transparent;
    margin-right:30px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: bolder;
    position: relative;
    overflow: hidden;
    z-index: 1;

}
.butt-cont{
    display: flex;
    align-items: center;
    height: 30vh;
    
}
.butt-cont button:hover{
    border: none;
    outline: none;
}
.butt-cont button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all 0.74s ease-in-out;
}
.butt-cont button:hover::after{
    width: 100%;
       
}

/*bars*/

.bars{
    height: 25px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.54s ease-in-out;   
    
}
.bars:hover{
    background-color: gray;    
}
.bar{
    background-color: white;
    width: 35px;
    height: 4px; 
      
}
.disap{
    display: none;
}

@media(max-width:700px){
    html{
        font-size: 90%;
    }
    header{
        display: inline-block;
    }  
    header .wrapper-links{
        position: absolute;
        top: 50px;
        left: 0;
        

    } 
    .bars{
        position: absolute;
        top: 15px;
        right: 10px;
       
    }
    body{
        background-image: url(images/RenifinalPortfoliopic.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        box-shadow: inset 500px 400px 5000px rgba(0, 0, 0, 0.4), inset -100px -150px 5000px rgba(0, 0, 0, 1);
        background-color: var(--background);
        position: relative;
    }
}

@media(max-width:600px)
{
    .wrapper-links{
        display: none;
    }
    .disap{
        display: block;
    }
    .wrapper-links a{
        display: block;
        
    }
    .act-togg{
      display: block;
      max-height:100%;
      width: 100%;
      padding-left: 10px;
      margin-bottom: 3px;
      

    }
    .home{
        width: 50%;
        height: 60vh;
        display: block;
        padding-left: 30px;
        margin-top: 130px;
        
        
        
    }
    .home .content{
    
        height: 50vh;
        display: flex;
        flex-direction: column;
        padding: 40px 5px;
        margin: 0;
        width: 280px;
        justify-content: center;

    }
    .home .content h1,h2,h3{
        font-size: 90%;
    }
    .home .butt-cont{
        font-size: 70%;
        height: 60px;
        width: 120px;
    }
    .home .butt-cont button{
        font-size: 80%;
        padding: 5px;
        font-size: 70%;
        
    }

    body{
        background-image: url(images/RenifinalPortfoliopic.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
        box-shadow: inset 500px 400px 5000px rgba(0, 0, 0, 0.4), inset -100px -150px 5000px rgba(0, 0, 0, 1);
        background-color: var(--background);
        position: relative;
        overflow: hidden;
    }

    
}
@media(max-width:280){
   *,html{
    font-size: 35%;
   }
   body{
    background-image: url(images/RenifinalPortfoliopic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-shadow: inset 500px 400px 5000px rgba(0, 0, 0, 0.4), inset -100px -150px 5000px rgba(0, 0, 0, 1);
    background-color: var(--background);
    position: relative;
}
.bars{
    position: absolute;
    top: 15px;
    right: 10px;
   
}
}

/*About sections*/
hr{
    background-color: gray;
    height: 2px;
    outline: none;
    border: none;

}
.about-me{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 200px 50px 1500px rgba(0, 0, 0, 0.7),inset -200px -50px 1500px rgba(0, 0, 0, 0.4);
}
.about{
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    width: fit-content;
    letter-spacing: 2px;


}
.imag{ 
    padding: 0;
    margin-top: 20px;
    max-width: max-content;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid var(--hoover);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
}
.imag::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(14, 13, 13, 0.2);
    width: 0;
    height: 100%;
    transition: all 1.2s ease-in-out;
}
.imag:hover:after{
   width: 100%;
}
.imag img{
    width: 240px;      
}
.abt-cont{
    margin-top: 20px;
    width: 80%;
    max-width: 80ch;
    text-align: center;
    margin-bottom: 20px;
    
}

@media(max-width:700px){
    .about-me{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 60%;
    }    

}
/*Education section*/
.Education{
    height: 90vh;
    z-index: -1;
    box-shadow: inset 300px 0px 1200px rgba(0, 0, 0, 0.6),inset 0px -200px 1200px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100%;
    display: block;

}
.Education .head-edu{
    margin-top: 20px;
    font-size: 2rem;
    max-width: fit-content;
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}
.cntainer{
    position: absolute;
    height: 60vh;
    margin-top: 30px;
    z-index: 1;
    
}
.cntainer::after{
    content: "";
    display: block;
    clear: both;
}
.cntainer > div{
    width: 33.3333333%;
    float: left;
    height: 50vh;

    
    
    
}
.cntainer > div:not(:nth-last-child(1)) {
    border-right: 1px solid white;
}
.cntainer .educate{
    text-align: justify;
    padding: 0 20px;
    
}
.cntainer .educate h2{
    text-align: center;
    padding-bottom: 20px;
}
.cntainer .educate h3{
    text-align: center;
    padding-bottom: 10px;
}
#high{
    color: var(--hoover);
    font-size: 1.3rem;
    text-transform: capitalize;

}
#skool{
    color: whitesmoke;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bolder;
    font-size: 1.4rem;
}
#acmp{
    text-transform: capitalize;
    color: var(--hoover);
    font-weight: bolder;
}
@media(max-width:600px){
     .Education{
        position: absolute;
        font-size: 55%;
        height: 100vh;
     }
     .cntainer{
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 60vh;
        margin-top: 0;
     }
     .cntainer > div{
          float: none;
          width: 100%;
          padding: 0 40px;
          margin: 0;

     }
     .cntainer > div:not(:nth-last-child(1)) {
        border-right: none;
    }
    #high{
        font-size: 1rem;
        font-weight: normal;
    }
    #skool{
        color: whitesmoke;
        text-transform: capitalize;
        font-style: italic;
        font-weight: lighter;
        font-size: 1rem;
    }
    .cntainer .educate h2{
        text-align: center;
        padding-bottom: 5px;
    }
    .cntainer .educate h3{
        text-align: center;
        padding-bottom: 5px;
    }
    .educat{
    text-align: center;
    margin: 10px auto;
    font-size: 1.2rem;
    width: fit-content;
    letter-spacing: 2px;
    
}
}

/*service section*/
.services{
    height: 100vh;
    box-shadow: inset 300px 100px 5000px rgba(0, 0, 0, 0.3), inset -10px -10px 5000px rgba(0, 0, 0, 1);
}
.services .service{
    max-width: fit-content;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2px;
    font-size: 2rem;
}
.services .drid-layer{
    display: grid;
    grid-template-columns:  45% 45%;
    grid-template-rows: 400px;
    column-gap: 20px;
    justify-content: center;
    
}

.services .frontend{
    border: 2px solid var(--hoover);
    border-radius: 20px;
  
}
.services .dis{
    margin: 20px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.services .dis .html{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;


}
.services .dis .html #html{
    background-color: white;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    
    z-index: 1;
    
}

.services .dis .html #html::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    transition: all 0.76s ease-in-out;
    z-index: 2;
    
}

.services .dis .html #html:hover::after{
    width: 95%;
}
#txt-htm{
    position: absolute;
    right: 5%;
    z-index: 6;
    font-weight: bolder;
    
}
.services .dis .CSS{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;
}
.services .dis .CSS #css{
    background-color: white;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.services .dis .CSS #css::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    transition: all 0.76s ease-in-out;
    z-index: 2;
}
.services .dis .CSS #css:hover::after{
    width: 90%;
}
#txt-cs{
    position: absolute;
    right: 10%;
    z-index: 6;
    font-weight: bolder;
    z-index: 6;
    
}

.services .dis .script{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;
}
.services .dis .script #javascript{
    background-color: white;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.services .dis .script #javascript::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    transition: all 0.76s ease-in-out;
    z-index: 2;
}
.services .dis .script #javascript:hover::after{
    width: 80%;
}
#txt-js{
    position: absolute;
    right: 20%;
    z-index: 6;
    font-weight: bolder;
    z-index: 6;

    
}


.services .backend{
    border: 2px solid var(--hoover);
    border-radius: 20px;
}
.head{
    max-width: fit-content;
    text-align: center;
    margin: 20px auto;
    text-decoration: underline;
}
.services .backend .dised{
    margin: 20px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.services .backend .dised .php{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;

}
.services .backend .dised #php{
    background-color: white;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.services .backend .dised #php::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    transition: all 0.76s ease-in-out;
    z-index: 2;
}
.services .backend .dised #php:hover::after{
    width: 80%;
}
#txt-be{
    position: absolute;
    right: 20%;
    z-index: 6;
    font-weight: bolder;
    z-index: 6;
    
}


.services .backend .dised .sql{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;

}
.services .backend .dised #sql{
    background-color: white;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.services .backend .dised #sql::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    transition: all 0.76s ease-in-out;
    z-index: 2;
}
.services .backend .dised #sql:hover::after{
    width: 83%;
}
#txt-sq{
    position: absolute;
    right: 17%;
    z-index: 6;
    font-weight: bolder;
    z-index: 6;
    
}
.services .backend .dised .java{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;

}
.services .backend .dised #jav{
    background-color: white;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.services .backend .dised #jav::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    transition: all 0.76s ease-in-out;
    z-index: 2;
}
.services .backend .dised #jav:hover::after{
    width: 72%;
}
#txt-jv{
    position: absolute;
    right: 28%;
    z-index: 6;
    font-weight: bolder;
    z-index: 6;
    
}
.services .backend .dised .python{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 5px;

}
.services .backend .dised #pytho{
    background-color: white;
    width: 100%;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.services .backend .dised #pytho::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--hoover);
    width: 0;
    height: 100%;
    transition: all 0.76s ease-in-out;
    z-index: 2;
}
.services .backend .dised #pytho:hover::after{
    width: 62%;
}
#txt-py{
    position: absolute;
    right: 38%;
    z-index: 6;
    font-weight: bolder;
    z-index: 6;
    
}

@media(max-width:600px){
    .services{
        height: 100%;
    }
    .services .service{
        max-width: fit-content;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
        letter-spacing: 1px;
        font-size: 1rem;
    }
    .services .drid-layer{
        height: 20vh;
        display: block;
        font-size: 65%;

    }
    #sersam{
        width: 50%;
        margin: 0 auto;
    }
}

.contact{
    height: 100vh;
    background-image: 
    linear-gradient(to top right, var(--background), black);
    position: relative;
}
.cont{
    max-width: fit-content;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2px;
    font-size: 2rem;
}
.form{
    max-width: 50%;
    margin: 30px auto;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    max-height: 100%;
}


table tr td > label{
    background-color: black;
    display: block;
    border: 1px solid var(--hoover);
    border-radius: 10px;
    padding: 4px 10px;
    cursor: pointer;
    margin-right: 70px;
    margin-top: 10px;
    
}
table tr td > input{
    background-color: transparent;
    border-bottom: 2px solid gray;
    outline: none;
    border-right: none;
    border-top: none;
    border-left: none;
    width: 300px;
    cursor: pointer;
    padding-left: 10px;
    padding-bottom: 2px;
    border-radius: 2px;
    
}

textarea{
   background-color: var(--background);
   color: whitesmoke;
   margin-top: 20px;
   border: none;
   outline: none;
   border-radius: 20px;
   padding: 25px;
   cursor: pointer;
   margin-left: 50%;
   transform: translateX(-50%);box-shadow: 
   inset 180px 20px 100px rgba(0, 0, 0, 0.3), 
   inset -5px -10px 50px rgba(0, 0, 0, 1);
   border: 1px solid var(--hoover);


}
textarea::placeholder{
    color: white;
}
.butt{
    max-width: fit-content;
    margin: 10px auto;

}
.butt button{
 background-color: gray;
 padding: 4px 15px;
 border-radius: 8px;
 border: none;
 outline: none;
 cursor: pointer;
 transition: all 0.56s ease-in-out;
}
.butt button:hover{
    transform: scale(0.8);
}
/*scroll behaviour*/
.scroll-down header{
   transform: translate3d(0,-100%,0);
   
}
.scroll-up header{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 30px;
    border-radius: 40px;
    z-index: 999;
    border-bottom: 1px solid white;    
}
.marg{
    padding-top: 50px;
}
.cop{    
    text-align: center;
    margin-top: 30px;

}
.post{
    position: absolute;
    top: 10;
}
@mixin alert-variant($background, $border, $color) {
    color: $color;
    @include gradient-bg($background);
    border-color: $border;
  
    .alert-link {
      color: shade-color($color, 20%);
    }
  }